.ContenedorGeneral {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 80vh;
}

.Pregunta {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: gray;
  border-radius: 1rem;
  margin: 1rem 0;
}
.ContenedorRespuestas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.BtnRespuesta {
  width: 100%;
  background-color: bisque;
  padding: 1rem;
  margin: 0.5rem 0;
  text-align: center;
  color: black;
}

.BtnRespuestaCorrecta {
  background-color: green;
}

.BtnRespuestaIncorrecta {
  background-color: red;
}
