:root {
  --PrimaryColor: white; /* Por defecto es blanco para modo oscuro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --PrimaryColor: white; /* Para modo oscuro */
  }
}

/* Si no es modo oscuro, el color del texto será negro */
@media (prefers-color-scheme: light) {
  :root {
    --PrimaryColor: black; /* Para modo oscuro */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background: linear-gradient(to left, #d9d9d9 5%, #bfc310);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
    color-scheme: light;
  }
}

.layout {
  width: 100%;
  height: 100vh;
}

/* Estilo para modo oscuro */
.dark-mode {
  color: white;
  background: linear-gradient(to right, #2c3e50 50%, #3d5c7b);
}
